<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="ssg" status="WARN">
    <Appenders>
        <Console name="standard" target="SYSTEM_OUT">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%highlight{%-5level} %logger{1} %M %L: %msg%n%ex">
                    <PatternMatch key="FLOW" pattern="%highlight{%-5level} %logger{1} %M %L: %markerSimpleName %msg%n%ex" />
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="standard" />
        </Root>
    </Loggers>
</Configuration>