<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="ssg" status="WARN">
    <Appenders>
        <Console name="standard" target="SYSTEM_OUT">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%highlight{%-5level} %logger: %msg%n%ex">
                    <PatternMatch key="FLOW" pattern="%highlight{%-5level} %logger: %markerSimpleName %msg%n%ex" />
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="standard" />
        </Root>
        <Logger name="org.gradle" level="off" />
        <Logger name="groowt" level="off" />
    </Loggers>
</Configuration>
